alias g="git"
alias ls="ls -G"
alias ll="ls -lhAG"
alias grep="grep --color=auto"
alias mv="mv -i"
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias d=docker
alias dc=docker-compose
