alias g="git"
alias ls="ls -G"
alias ll="ls -lhAG"
alias grep="grep --color=auto"
alias mv="mv -i"
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias d=docker
alias dc=docker-compose

alias k=kubectl
alias kgp="k get pod"
alias kgn="k get node"
alias kd="k describe"
alias kg="k get"
alias kl="k logs"

update-ctags() {
  tmp_file='tmp_tags'
  ((ctags -f $tmp_file -R dir_name >/dev/null 2>&1) && (mv $tmp_file tags)) &
}
